:root {
    --background: #C5965F;
    --cor-botao: #3b1045;
    --fonte: 'Roboto';
    --cor-fonte: white;
}

html {
    background: radial-gradient(farthest-corner at right top, #21A09D, #06182D);
    font-family: var(--fonte);
    font-size: 16px;
    height: 100%;
}

.conteiner__mochila {
    background-color: var(--background);
    padding: 1em 1em;
    margin: 3em 1em;
    display: flex;
    border-radius: 1em;
    box-shadow: -3px 4px 5px black;
}

.conteiner__mochila-img {
    width: 115px;
    margin-right: 1em;
}

.conteiner__adicionar {
    text-align: center;
}

.conteiner__item {
    display: flex;
    margin: 0.5em 0 0.5em;
    font-size: 18px;
    font-weight: 600;
}

.conteiner__input {
    width: 100%;
    border: 1px solid var(--cor-botao);
    border-radius: 5px;
    padding: 0.3em 0 0.3em 0.2em;
}

.conteiner__botao {
    margin-top: 1.5em;
    width: 80%;
    padding: 0.3em 0.5em;
    color: var(--cor-fonte);
    background-color: var(--cor-botao);
    border-radius: 5px;
}

/* LISTA DE ITENS */
.lista {
    margin: 3em 1em;
}

.item {
    background-color: var(--cor-fonte);
    margin-bottom: 1em;
    padding: 0.5em;
    border-radius: 5px;
    display: flex;
    gap: 1em;
    align-items: center;
}

.item strong {
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    Background: #C5965F;
    font-weight: 600;
}

.item button {
    background: rgba(182, 182, 182, 0.329);
    padding: 3px;
    margin-left: auto;
}

@media screen and (min-width: 768px) {
    .conteiner__mochila-img {
        width: 200px;
        margin-right: 4em;
    }


    .conteiner__item {
        font-size: 20px;

    }

    .conteiner__adicionar {
        width: 80%;
    }

    .conteiner__input {
        width: 100%;
        border: 1px solid var(--cor-botao);
        border-radius: 5px;
        padding: 0.3em 0 0.3em 0.2em;
    }

    .conteiner__botao {
        margin-top: 2.5em;
        padding: 0.5em 0.7em;
        font-size: 18px;
    }

    /* LISTA DE ITENS */
    .lista {
        margin: 0 15vw;
    }

}



@media screen and (min-width: 1024px) {
    .conteiner__mochila {
        padding: 2em 2.5em;
        margin: 4em 3em;
        width: 80%;
    }

    .conteiner__mochila-img {
        width: 200px;
        margin-right: 4em;
    }

    .conteiner__item {
        font-size: 20px;

    }

    .conteiner__adicionar {
        width: 80%;
    }

    .conteiner__input {
        width: 100%;
        border: 1px solid var(--cor-botao);
        border-radius: 5px;
        padding: 0.3em 0 0.3em 0.2em;
    }

    .conteiner__botao {
        margin-top: 2.5em;
        padding: 0.5em 0.7em;
        font-size: 18px;
    }

    /* LISTA DE ITENS */
    .lista {
        margin: 0 15vw;
    }

}

@media screen and (min-width: 1728px) {
    .conteiner {
        display: flex;
        align-items: flex-start;
    }

    .conteiner__mochila-img {
        width: 300px;
        height: 300px;
        margin-right: 4em;
    }

    .conteiner__item {
        font-size: 20px;
    }

    .conteiner__input {
        width: 100%;
        border: 1px solid var(--cor-botao);
        border-radius: 5px;
        padding: 0.3em 0 0.3em 0.2em;
    }

    .conteiner__botao {
        margin-top: 2.5em;
        padding: 0.5em 0.7em;
        font-size: 18px;
    }

    /* LISTA DE ITENS */
    .lista {
        margin: 4em 10em;
        width: 40%;
    }

}